body {
	margin: 0;
	padding: 0;

	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.button {
	font: inherit;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;

	border: none;
}

.button--bg-c--red {background-color: #fb565a;}
.button--bg-c--blue {background-color: blue;}
.button--bg-c--green {background-color: green;}

.button:hover {color: #fb565a;}

ul {
	list-style: none;
}

